.toast-container {
  position: fixed;
  bottom: 50px;
  right: 50%;
  left: 50%;
  width: max-content;
  padding: 16px 32px;
  background-color: #000;
  color: #fff;
  text-align: center;
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
  border-radius: 6px;
  user-select: none;
  transition: 0.3s ease-in-out;
  max-width: 500px;
}

.disappear {
  height: 0px;
  padding: 0px;
}
.entry {
  height: max-content;
}
